@font-face {
  font-family: "beIN Normal";
  src: url("../../assets/fonts/beINNormal.eot");
  src: url("../../assets/fonts/beINNormal.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINNormal.woff2") format("woff2"),
    url("../../assets/fonts/beINNormal.woff") format("woff"),
    url("../../assets/fonts/beINNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beIN";
  src: url("../../assets/fonts/beINBlack.eot");
  src: url("../../assets/fonts/beINBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINBlack.woff2") format("woff2"),
    url("../../assets/fonts/beINBlack.woff") format("woff"),
    url("../../assets/fonts/beINBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --bg-color: #fefefe;
  --name-color: #376363;
  --photo-border-color: #356767;

  --color-1: #485e5e;
  --color-2: #537b7b;
  --color-3: #7b9d9d;
  --tag-text-color: #fefcfc;

  --title-color: #386464;

  --lang-full-deg-color: #495f5f;
  --lang-empty-deg-color: #9e9e9e;

  --scale-rate: 0.3;
  --p-scale-rate: 0.9;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.template09-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cfcfcf;
  padding: calc(40px * var(--scale-rate));
}
.template09-body {
  background-color: var(--bg-color);
  width: calc(2480px * var(--scale-rate));
  height: calc(3508px * var(--scale-rate));
  padding: calc(50px * var(--scale-rate)) calc(100px * var(--scale-rate))
    calc(164px * var(--scale-rate)) calc(100px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  direction: ltr;
}
.template09-body p {
  font-family: "beIN Normal";
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
.template09-body .bold,
.template09-body .bold p {
  font-family: "beIN";
}

/* CV Tag */
.template09-body .cv-tag {
  background-color: var(--color-1);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  color: var(--tag-text-color);
  position: absolute;
  right: calc(2000px * var(--scale-rate));
  top: 0;
  width: calc(243px * var(--scale-rate));
  height: calc(300px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.template09-body .cv-tag p {
  letter-spacing: 2px;
}

/* #region - Photo */
.template09-body .photo {
  border: calc(8px * var(--scale-rate)) solid var(--photo-border-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: calc(10px * var(--scale-rate));
  position: absolute;
  top: calc(100px * var(--scale-rate));
  right: calc(100px * var(--scale-rate));
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.template09-body .photo img {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: calc(308px * var(--scale-rate));
  height: calc(308px * var(--scale-rate));
}
/* #endregion */

/* #region - Name Section */
.template09-body .name-sec {
  color: var(--name-color);
  margin-bottom: calc(60px * var(--scale-rate));
  font-size: calc(40px * var(--p-scale-rate));
  line-height: 1.2;
  font-style: italic;
  text-align: center;
}
.template09-body .name-sec p {
  font-family: "Ara Assaf";
  line-height: 1.3;
}
/* #endregion */

/* #region - Info Section */
.template09-body .info-sec {
  width: 100%;
  margin-bottom: calc(80px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template09-body .info-sec .info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
}
.template09-body .info-sec .info-details .detail {
  position: relative;
  width: 48%;
  margin-bottom: calc(35px * var(--scale-rate));
  text-align: center;
}
.template09-body .info-sec .info-details .detail-img-bg {
  width: calc(100px * var(--scale-rate));
  height: calc(100px * var(--scale-rate));
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template09-body .info-sec .info-details .detail:nth-child(2n) .detail-img-bg {
  right: -3%;
}
.template09-body
  .info-sec
  .info-details
  .detail:nth-child(2n + 1)
  .detail-img-bg {
  left: -3%;
}
.template09-body .info-sec .info-details [class^="detail-p"] {
  height: calc(75px * var(--scale-rate));
  color: #fff;
}
.template09-body .info-sec .info-details .detail-img-bg-1,
.template09-body .info-sec .info-details .detail-p-1 {
  background-color: var(--color-1);
}
.template09-body .info-sec .info-details .detail-img-bg-2,
.template09-body .info-sec .info-details .detail-p-2 {
  background-color: var(--color-2);
}
.template09-body .info-sec .info-details .detail-img-bg-3,
.template09-body .info-sec .info-details .detail-p-3 {
  background-color: var(--color-3);
}
.template09-body .info-sec .info-details .detail-img-1 {
  width: calc(54px * var(--scale-rate));
  height: calc(38px * var(--scale-rate));
}
.template09-body .info-sec .info-details .detail-img-2 {
  width: calc(48px * var(--scale-rate));
  height: calc(56px * var(--scale-rate));
}
.template09-body .info-sec .info-details .detail-img-3 {
  width: calc(38px * var(--scale-rate));
  height: calc(56px * var(--scale-rate));
}
.template09-body .info-sec .info-details .detail-img-4 {
  width: calc(63px * var(--scale-rate));
  height: calc(63px * var(--scale-rate));
}
.template09-body .info-sec .info-details .detail-img-5 {
  width: calc(50px * var(--scale-rate));
  height: calc(47px * var(--scale-rate));
}
.template09-body .info-sec .info-details .detail-img-6 {
  width: calc(52px * var(--scale-rate));
  height: calc(52px * var(--scale-rate));
}
/* #endregion */

/********** Main Sections *********/
/* #region - General Styles */
.template09-body .main-sec {
  width: 100%;
}
.template09-body .row-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: calc(60px * var(--scale-rate));
}
.template09-body .sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(280px * var(--scale-rate))
    calc(790px * var(--scale-rate));
  grid-template-columns: calc(280px * var(--scale-rate)) calc(
      790px * var(--scale-rate)
    );
  grid-template-areas: "sec-logo sec-content";
}
.template09-body .sec.ar {
  direction: rtl;
}
.template09-body .sec .sec-logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: sec-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template09-body .sec .sec-logo img {
  margin-top: calc(-75px * var(--scale-rate));
}
.template09-body .sec .sec-content {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: sec-content;
  border-top: calc(5px * var(--scale-rate)) solid #000;
  border-left: none;
  border-right: calc(5px * var(--scale-rate)) solid #000;
  border-bottom: calc(5px * var(--scale-rate)) solid #000;
  border-top-left-radius: 0;
  border-top-right-radius: calc(16px * var(--scale-rate));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: calc(16px * var(--scale-rate));
  position: relative;
  padding: calc(60px * var(--scale-rate)) 0 calc(20px * var(--scale-rate));
  font-family: "beIN Normal";
}
.template09-body .sec .sec-content.ar {
  border-right: none;
  border-left: calc(5px * var(--scale-rate)) solid #000;
  border-top-right-radius: 0;
  border-top-left-radius: calc(16px * var(--scale-rate));
  border-bottom-right-radius: 0;
  border-bottom-left-radius: calc(16px * var(--scale-rate));
}
.template09-body .sec .sec-title {
  position: absolute;
  top: calc(-50px * var(--scale-rate));
  left: 0;
  width: calc(400px * var(--scale-rate));
  background-color: var(--bg-color);
  font-family: "beIN";
  line-height: 1.6;
  font-size: calc(22px * var(--p-scale-rate));
  color: var(--title-color);
}
.template09-body .sec .sec-title.ar {
  right: 0;
}
.template09-body .sec .circle {
  background-color: var(--title-color);
  border-radius: 50%;
  width: calc(28px * var(--scale-rate));
  height: calc(28px * var(--scale-rate));
}
/* #endregion */

/* #region - Education Section */
.template09-body .edu-sec .sec-logo img {
  width: calc(194px * var(--scale-rate));
  height: calc(133px * var(--scale-rate));
}
.template09-body .edu {
  position: relative;
  margin-bottom: calc(30px * var(--scale-rate));
}
.template09-body .edu .circle {
  position: absolute;
  top: calc(25px * var(--scale-rate));
  right: 0;
  left: calc(-50px * var(--scale-rate));
}
.template09-body .edu .circle.ar {
  left: 0;
  right: calc(-50px * var(--scale-rate));
}
.template09-body .edu .edu-title {
  color: var(--title-color);
  font-weight: bold;
  font-size: calc(14px * var(--p-scale-rate));
  line-height: 2;
}
.template09-body .edu .edu-text p {
  line-height: 1.5;
  font-size: calc(14px * var(--p-scale-rate));
}
/* #endregion */

/* #region - Work Section */
.template09-body .work-sec .sec-logo img {
  width: calc(150px * var(--scale-rate));
  height: calc(132px * var(--scale-rate));
}
.template09-body .work-sec .sec-title {
  width: calc(555px * var(--scale-rate));
}
.template09-body .work {
  position: relative;
  margin-bottom: calc(30px * var(--scale-rate));
}
.template09-body .work .circle {
  position: absolute;
  top: calc(15px * var(--scale-rate));
  right: 0;
  left: calc(-50px * var(--scale-rate));
}
.template09-body .work .circle.ar {
  left: 0;
  right: calc(-50px * var(--scale-rate));
}
.template09-body .work .work-title,
.template09-body .work .work-text {
  line-height: 1.5;
  font-size: calc(14px * var(--p-scale-rate));
}
/* #endregion */

/* #region - Courses Section */
.template09-body .courses-sec .sec-logo .sec-content {
  margin-bottom: 0;
  padding-top: calc(75px * var(--scale-rate));
}
.template09-body .courses-sec img {
  width: calc(146px * var(--scale-rate));
  height: calc(153px * var(--scale-rate));
}
.template09-body .courses-sec .sec-title {
  width: calc(540px * var(--scale-rate));
}
.template09-body .course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-areas: "circle course-name";
  margin-bottom: calc(20px * var(--scale-rate));
  -webkit-transform: translateX(calc(-50px * var(--scale-rate)));
  -ms-transform: translateX(calc(-50px * var(--scale-rate)));
  transform: translateX(calc(-50px * var(--scale-rate)));
}
.template09-body .course.ar {
  -webkit-transform: translateX(calc(50px * var(--scale-rate)));
  -ms-transform: translateX(calc(50px * var(--scale-rate)));
  transform: translateX(calc(50px * var(--scale-rate)));
}
.template09-body .course .circle-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template09-body .course .circle-container {
  -webkit-transform: translateY(calc(-6px * var(--scale-rate)));
  -ms-transform: translateY(calc(-6px * var(--scale-rate)));
  transform: translateY(calc(-6px * var(--scale-rate)));
}
.template09-body .course .course-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: course-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: calc(13px * var(--p-scale-rate));
  line-height: 1.5;
}
/* #endregion */

/* #region - Skills Section */
.template09-body .personal-skills-sec .sec-logo img {
  width: calc(298px * var(--scale-rate));
  height: calc(394px * var(--scale-rate));
  margin-left: calc(-120px * var(--scale-rate));
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.template09-body .personal-skills-sec.ar img {
  margin-left: 0;
  margin-right: calc(-120px * var(--scale-rate));
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.template09-body .personal-skills-sec .sec-title {
  width: calc(500px * var(--scale-rate));
}
.template09-body .p-skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-areas: "circle course-name";
  margin-bottom: calc(20px * var(--scale-rate));
  -webkit-transform: translateX(calc(-50px * var(--scale-rate)));
  -ms-transform: translateX(calc(-50px * var(--scale-rate)));
  transform: translateX(calc(-50px * var(--scale-rate)));
  font-size: calc(13px * var(--p-scale-rate));
}
.template09-body .p-skill.ar {
  -webkit-transform: translateX(calc(50px * var(--scale-rate)));
  -ms-transform: translateX(calc(50px * var(--scale-rate)));
  transform: translateX(calc(50px * var(--scale-rate)));
}
.template09-body .p-skill .circle-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template09-body .p-skill .p-skill-text p {
  line-height: 1.5;
}
/* #endregion */

/* #region - Languages Section */
.template09-body .lang-sec .sec-logo img {
  width: calc(146px * var(--scale-rate));
  height: calc(140px * var(--scale-rate));
}
.template09-body .lang-sec.ar img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.template09-body .lang {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(250px * var(--scale-rate)) 1fr;
  grid-template-columns: calc(250px * var(--scale-rate)) 1fr;
  grid-template-areas: "lang-name lang-rate";
  font-size: calc(13px * var(--p-scale-rate));
  margin-bottom: calc(30px * var(--scale-rate));
}
.template09-body .lang .lang-name,
.template09-body .lang .lang-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template09-body .lang .lang-name {
  grid-area: lang-name;
}
.template09-body .lang .lang-rate {
  grid-area: lang-rate;
}
.template09-body .lang .lang-rate .lang-deg {
  background-color: var(--lang-full-deg-color);
  width: calc(33px * var(--scale-rate));
  height: calc(55px * var(--scale-rate));
  border-radius: 4px;
  margin: 0 0.5px;
}
.template09-body .lang .lang-rate .lang-deg.empty {
  background-color: var(--lang-empty-deg-color);
}
/* #endregion */
