@font-face {
  font-family: "beIN Normal";
  src: url("../../assets/fonts/beINNormal.eot");
  src: url("../../assets/fonts/beINNormal.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINNormal.woff2") format("woff2"),
    url("../../assets/fonts/beINNormal.woff") format("woff"),
    url("../../assets/fonts/beINNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beIN";
  src: url("../../assets/fonts/beINBlack.eot");
  src: url("../../assets/fonts/beINBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINBlack.woff2") format("woff2"),
    url("../../assets/fonts/beINBlack.woff") format("woff"),
    url("../../assets/fonts/beINBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Ara Assaf";
  src: url("../../assets/fonts/AraAssaf-Regular.eot");
  src: url("../../assets/fonts/AraAssaf-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/AraAssaf-Regular.woff2") format("woff2"),
    url("../../assets/fonts/AraAssaf-Regular.woff") format("woff"),
    url("../../assets/fonts/AraAssaf-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #fefefe;
  --name-color: #376363;
  --photo-border-color: #356767;

  --tag-color: #669696;
  --tag-text-color: #fefcfc;

  --title-color: #386464;

  --info-p1-bg-color: #7d9d97;
  --info-p2-bg-color: #7d929d;
  --info-p3-bg-color: #518699;

  --scale-rate: 0.3;
  --p-scale-rate: 3 * var(--scale-rate);

  --lang-bg-img: url(../../assets/imgs/template_03/10.png);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.template03-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cfcfcf;
  padding: calc(40px * var(--scale-rate));
}
.template03-body {
  background-color: var(--bg-color);
  width: calc(2480px * var(--scale-rate));
  height: calc(3508px * var(--scale-rate));
  padding: calc(198px * var(--scale-rate)) calc(170px * var(--scale-rate))
    calc(164px * var(--scale-rate)) calc(170px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  direction: ltr;
}
.template03-body.ar {
  direction: rtl;
}
.template03-body p,
.template03-body.ar p {
  font-family: "beIN Normal";
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
.template03-body .bold,
.template03-body .bold p,
.template03-body.ar .bold,
.template03-body.ar .bold p {
  font-family: "beIN";
}

/* #region - CV Tag */
.template03-body .cv-tag {
  background-color: var(--tag-color);
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  color: var(--tag-text-color);
  font-size: calc(26px * var(--p-scale-rate));
  position: absolute;
  right: calc(160px * var(--scale-rate));
  top: 0;
  width: calc(312px * var(--scale-rate));
  height: calc(402px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.template03-body .cv-tag.ar {
  right: calc(2000px * var(--scale-rate));
}
/* #endregion */

/* #region - Photo */
.template03-body .photo {
  border: calc(8px * var(--scale-rate)) solid var(--photo-border-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: calc(10px * var(--scale-rate));
  position: absolute;
  top: calc(230px * var(--scale-rate));
  right: 0;
  left: calc(130px * var(--scale-rate));
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.template03-body .photo.ar {
  left: 0;
  right: calc(130px * var(--scale-rate));
}
.template03-body .photo img {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: calc(308px * var(--scale-rate));
  height: calc(308px * var(--scale-rate));
}
/* #endregion */

/* #region - Name Section */
.template03-body .name-sec {
  color: var(--name-color);
  margin-bottom: calc(180px * var(--scale-rate));
  font-size: calc(22px * var(--p-scale-rate));
  line-height: calc(22px * var(--p-scale-rate));
  font-family: "Ara Assaf";
}
/* #endregion */

/* #region - Info Section */
.template03-body .info-sec {
  width: 100%;
  margin-bottom: calc(150px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.template03-body .info-sec .info-details {
  width: 45%;
  font-family: "beIN Normal";
  font-size: calc(14px * var(--p-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template03-body .info-sec .detail {
  position: relative;
}
.template03-body .info-sec .detail img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(204px * var(--scale-rate));
  height: calc(128px * var(--scale-rate));
}
.template03-body .info-sec .detail img.ar {
  right: 0;
}
.template03-body .info-sec .detail-img-1 {
  -webkit-transform: translate(-32%, -48%);
  -ms-transform: translate(-32%, -48%);
  transform: translate(-32%, -48%);
}
.template03-body .info-sec .detail-img-1.ar {
  -webkit-transform: translate(32%, -48%) scaleX(-1);
  -ms-transform: translate(32%, -48%) scaleX(-1);
  transform: translate(32%, -48%) scaleX(-1);
}
.template03-body .info-sec .detail-img-2 {
  -webkit-transform: translate(-44%, -48%);
  -ms-transform: translate(-44%, -48%);
  transform: translate(-44%, -48%);
}
.template03-body .info-sec .detail-img-2.ar {
  -webkit-transform: translate(44%, -48%) scaleX(-1);
  -ms-transform: translate(44%, -48%) scaleX(-1);
  transform: translate(44%, -48%) scaleX(-1);
}
.template03-body .info-sec .detail-img-3 {
  -webkit-transform: translate(-53%, -48%);
  -ms-transform: translate(-53%, -48%);
  transform: translate(-53%, -48%);
}
.template03-body .info-sec .detail-img-3.ar {
  -webkit-transform: translate(53%, -48%) scaleX(-1);
  -ms-transform: translate(53%, -48%) scaleX(-1);
  transform: translate(53%, -48%) scaleX(-1);
}
.template03-body .info-sec .detail-img-4 {
  -webkit-transform: translate(-62%, -48%);
  -ms-transform: translate(-62%, -48%);
  transform: translate(-62%, -48%);
}
.template03-body .info-sec .detail-img-4.ar {
  -webkit-transform: translate(62%, -48%) scaleX(-1);
  -ms-transform: translate(62%, -48%) scaleX(-1);
  transform: translate(62%, -48%) scaleX(-1);
}

.template03-body .info-sec .detail > div {
  color: #fff;
  margin-bottom: calc(26px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.template03-body .info-sec .detail-p-1 {
  background-color: var(--info-p1-bg-color);
  width: calc(570px * var(--scale-rate));
  height: calc(66px * var(--scale-rate));
}
.template03-body .info-sec .detail-p-2 {
  background-color: var(--info-p2-bg-color);
  width: calc(640px * var(--scale-rate));
  height: calc(66px * var(--scale-rate));
}
.template03-body .info-sec .detail-p-3 {
  background-color: var(--info-p3-bg-color);
  width: calc(720px * var(--scale-rate));
  height: calc(66px * var(--scale-rate));
}
.template03-body .info-sec .detail-p-4 {
  background-color: var(--info-p1-bg-color);
  width: calc(800px * var(--scale-rate));
  height: calc(66px * var(--scale-rate));
}
/* ************ */
.template03-body .info-sec .info-desc {
  width: 45%;
}
.template03-body .info-sec .info-desc-title {
  color: var(--name-color);
  font-family: "beIN";
  font-size: calc(22px * var(--p-scale-rate));
  line-height: 1.5;
}
.template03-body .info-sec .info-desc-text {
  font-family: "beIN Normal";
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  font-size: calc(14px * var(--p-scale-rate));
  line-height: 1.5;
}
/* #endregion */

/* Main Section */
/* Left - Right */
.template03-body .main-sec {
  width: 100%;
  height: calc(2200px * var(--scale-rate));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(1042px * var(--scale-rate))
    calc(90px * var(--scale-rate)) calc(1042px * var(--scale-rate));
  grid-template-columns: repeat(2, calc(1042px * var(--scale-rate)));
  -webkit-column-gap: calc(90px * var(--scale-rate));
  -moz-column-gap: calc(90px * var(--scale-rate));
  column-gap: calc(90px * var(--scale-rate));
  grid-template-areas: "left right";
}

/* #region - General Styles for several sections */
.template03-body .sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(300px * var(--scale-rate))
    calc(730px * var(--scale-rate));
  grid-template-columns: calc(300px * var(--scale-rate)) calc(
      730px * var(--scale-rate)
    );
  grid-template-areas: "sec-logo sec-content";
  margin-bottom: calc(100px * var(--scale-rate));
}
.template03-body .sec img {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: sec-logo;
  -webkit-transform: translateY(calc(-56px * var(--scale-rate)));
  -ms-transform: translateY(calc(-56px * var(--scale-rate)));
  transform: translateY(calc(-56px * var(--scale-rate)));
}
.template03-body .sec .sec-content {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: sec-content;
  border-top: calc(5px * var(--scale-rate)) solid #000;
  border-left: none;
  border-right: calc(5px * var(--scale-rate)) solid #000;
  border-bottom: calc(5px * var(--scale-rate)) solid #000;
  border-top-left-radius: 0;
  border-top-right-radius: calc(16px * var(--scale-rate));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: calc(16px * var(--scale-rate));
  position: relative;
  padding: calc(70px * var(--scale-rate)) 0 calc(20px * var(--scale-rate));
  font-family: "beIN Normal";
}
.template03-body .sec .sec-content.ar {
  border-right: none;
  border-left: calc(5px * var(--scale-rate)) solid #000;
  border-top-right-radius: 0;
  border-top-left-radius: calc(16px * var(--scale-rate));
  border-bottom-right-radius: 0;
  border-bottom-left-radius: calc(16px * var(--scale-rate));
}
.template03-body .sec .sec-title {
  position: absolute;
  top: calc(-50px * var(--scale-rate));
  left: 0;
  width: calc(400px * var(--scale-rate));
  background-color: var(--bg-color);
  font-family: "beIN";
  line-height: 1.6;
  font-size: calc(22px * var(--p-scale-rate));
  color: var(--title-color);
}
.template03-body .sec .sec-title.ar {
  right: 0;
}
.template03-body .sec .circle {
  background-color: var(--title-color);
  border-radius: 50%;
  width: calc(28px * var(--scale-rate));
  height: calc(28px * var(--scale-rate));
}
/* #endregion */

/* Left */
.template03-body .main-sec .left {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: left;
}
/* #region - Education Section */
.template03-body .edu-sec img {
  width: calc(252px * var(--scale-rate));
  height: calc(172px * var(--scale-rate));
}
.template03-body .edu {
  position: relative;
  margin-bottom: calc(30px * var(--scale-rate));
}
.template03-body .edu .circle {
  position: absolute;
  top: calc(30px * var(--scale-rate));
  right: 0;
  left: calc(-50px * var(--scale-rate));
}
.template03-body .edu .circle.ar {
  left: 0;
  right: calc(-50px * var(--scale-rate));
}
.template03-body .edu .edu-title {
  color: var(--title-color);
  font-weight: bold;
  font-size: calc(14px * var(--p-scale-rate));
}
.template03-body .edu .edu-text p {
  line-height: 2;
  font-size: calc(14px * var(--p-scale-rate));
}
/* #endregion */

/* #region - Work Section */
.template03-body .work-sec img {
  width: calc(174px * var(--scale-rate));
  height: calc(174px * var(--scale-rate));
}
.template03-body .work-sec .sec-title {
  width: calc(555px * var(--scale-rate));
}
.template03-body .work {
  position: relative;
  margin-bottom: calc(30px * var(--scale-rate));
}
.template03-body .work .circle {
  position: absolute;
  top: calc(30px * var(--scale-rate));
  right: 0;
  left: calc(-50px * var(--scale-rate));
}
.template03-body .work .circle.ar {
  left: 0;
  right: calc(-50px * var(--scale-rate));
}
.template03-body .work .work-title,
.template03-body .work .work-text {
  line-height: 2;
  font-size: calc(14px * var(--p-scale-rate));
}
/* #endregion */

/* #region - Courses Section */
.template03-body .courses-sec .sec-content {
  margin-bottom: 0;
  padding-top: calc(75px * var(--scale-rate));
}
.template03-body .courses-sec img {
  width: calc(340px * var(--scale-rate));
  height: calc(500px * var(--scale-rate));
  -webkit-transform: translate(
    calc(-100px * var(--scale-rate)),
    calc(-104px * var(--scale-rate))
  );
  -ms-transform: translate(
    calc(-100px * var(--scale-rate)),
    calc(-104px * var(--scale-rate))
  );
  transform: translate(
    calc(-100px * var(--scale-rate)),
    calc(-104px * var(--scale-rate))
  );
}
.template03-body .courses-sec img.ar {
  -webkit-transform: translate(
    calc(100px * var(--scale-rate)),
    calc(-104px * var(--scale-rate))
  );
  -ms-transform: translate(
    calc(100px * var(--scale-rate)),
    calc(-104px * var(--scale-rate))
  );
  transform: translate(
    calc(100px * var(--scale-rate)),
    calc(-104px * var(--scale-rate))
  );
}
.template03-body .courses-sec .sec-title {
  width: calc(540px * var(--scale-rate));
}
.template03-body .course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-areas: "circle course-name";
  margin-bottom: calc(20px * var(--scale-rate));
  -webkit-transform: translateX(calc(-50px * var(--scale-rate)));
  -ms-transform: translateX(calc(-50px * var(--scale-rate)));
  transform: translateX(calc(-50px * var(--scale-rate)));
}
.template03-body .course.ar {
  -webkit-transform: translateX(calc(50px * var(--scale-rate)));
  -ms-transform: translateX(calc(50px * var(--scale-rate)));
  transform: translateX(calc(50px * var(--scale-rate)));
}
.template03-body .course .circle-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template03-body .course .circle-container {
  -webkit-transform: translateY(calc(-6px * var(--scale-rate)));
  -ms-transform: translateY(calc(-6px * var(--scale-rate)));
  transform: translateY(calc(-6px * var(--scale-rate)));
}
.template03-body .course .course-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: course-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: calc(14px * var(--p-scale-rate));
  line-height: 1.5;
}
/* #endregion */

/* Right  */
.template03-body .main-sec .right {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-area: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template03-body .main-sec .right .sec {
  -ms-grid-columns: calc(260px * var(--scale-rate))
    calc(704px * var(--scale-rate));
  grid-template-columns: calc(260px * var(--scale-rate)) calc(
      704px * var(--scale-rate)
    );
}
/* #region - Personal Skills Section */
.template03-body .personal-skills-sec img {
  width: calc(176px * var(--scale-rate));
  height: calc(190px * var(--scale-rate));
}
.template03-body .personal-skills-sec .sec-title {
  width: calc(500px * var(--scale-rate));
}
.template03-body .p-skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-columns: calc(60px * var(--scale-rate)) 1fr;
  grid-template-areas: "circle course-name";
  margin-bottom: calc(20px * var(--scale-rate));
  -webkit-transform: translateX(calc(-50px * var(--scale-rate)));
  -ms-transform: translateX(calc(-50px * var(--scale-rate)));
  transform: translateX(calc(-50px * var(--scale-rate)));
  font-size: calc(14px * var(--p-scale-rate));
}
.template03-body .p-skill.ar {
  -webkit-transform: translateX(calc(50px * var(--scale-rate)));
  -ms-transform: translateX(calc(50px * var(--scale-rate)));
  transform: translateX(calc(50px * var(--scale-rate)));
}
.template03-body .p-skill .circle-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template03-body .p-skill .p-skill-text p {
  line-height: 2;
}
/* #endregion */

/* #region - Technical Skills Section */
.template03-body .tech-skills-sec img {
  width: calc(174px * var(--scale-rate));
  height: calc(174px * var(--scale-rate));
}
.template03-body .tech-skills-sec .sec-content {
  padding-bottom: calc(40px * var(--scale-rate));
}
.template03-body .tech-skills-sec .sec-title {
  width: calc(500px * var(--scale-rate));
}
.template03-body .t-skill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(500px * var(--scale-rate))
    calc(100px * var(--scale-rate));
  grid-template-columns: calc(500px * var(--scale-rate)) calc(
      100px * var(--scale-rate)
    );
  -ms-grid-rows: calc(100px * var(--scale-rate)) calc(20px * var(--scale-rate));
  grid-template-rows: calc(100px * var(--scale-rate)) calc(
      20px * var(--scale-rate)
    );
  grid-template-areas:
    "name value"
    "bar bar";

  font-size: calc(14px * var(--p-scale-rate));
}
.template03-body .t-skill .t-skill-name {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template03-body .t-skill .t-skill-value {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: value;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.template03-body .t-skill .t-skill-bar {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bar-container {
  background-color: #c3c3c3;
  width: 100%;
  height: 100%;
}
.bar {
  background-color: var(--title-color);
  height: 100%;
}
/* #endregion */

/* #region - Languages Section */
.template03-body .languages-sec {
  font-family: "beIN Normal";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template03-body .languages-sec .languages-title {
  text-align: center;
  color: var(--title-color);
  font-size: calc(18px * var(--p-scale-rate));
  font-weight: bold;
  margin-bottom: calc(100px * var(--scale-rate));
}
.template03-body .languages-sec .langs {
  height: calc(360px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template03-body .languages-sec .lang {
  background-image: var(--lang-bg-img);
  background-size: cover;
  width: calc(333px * var(--scale-rate));
  height: calc(330px * var(--scale-rate));
  margin: 0 calc(30px * var(--scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.template03-body .lang p {
  color: #fff;
  font-size: calc(14px * var(--p-scale-rate));
  position: absolute;
  width: calc(200px * var(--scale-rate));
  bottom: 23%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}
.template03-body .lang p.ar {
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.template03-body .lang p.lang-rate {
  color: #000;
  font-size: calc(14px * var(--p-scale-rate));
  top: calc(-70px * var(--scale-rate));
  text-align: center;
  width: calc(100px * var(--scale-rate));
}

.template03-body .lang .lang-circle-wrapper {
  width: 86%;
  height: 86%;
  border-radius: 50%;
  border: calc(4px * var(--scale-rate)) solid var(--green);
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template03-body .lang .lang-circle-wrapper.ar {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.template03-body .lang [class^="full-lang-"] {
  background-color: var(--tag-color);
  height: 100%;
}
/* #endregion */
